<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Yousuf DevOps Portfolio</title>
</head>

<header>
    <!--Navbar-->
    <div class="navbar fade-in">
       <nav>
           
        <ul class="nav__links">
            <li><a href="#projects" class="nav__text" >Projects</a></li>
            <li><a href="#contact" class="nav__text">Contact</a></li>
           
        </ul>
    </nav>
    </div>
    <!--Navbar-->

    <!--Main-Text-->
    <div class="main__text fade-in">
        <h1 class="title">Hi, i'm Yousuf!</h1>
        <p>DevOps engineer focused on building resilient infrastructure, smooth deployments, and systems that scale with confidence. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum.
        </p>
        <a href="https://docs.google.com/document/d/e/2PACX-1vQ_4vZWFFQ0bB51MU8oYwOmWGBRFhj9ZAtxk38U0e8px-gnDYK-LXAmoEXkx_xUwA/pub" class="btn fill" target="blank">Resume</a>
        <div class="logo">
        <img src="{{ url_for('static', filename='images/spaceship.gif') }}" alt="" width="150px" height="150px">
        <div class='icon__scroll'>
            
            
        </div>
        </div>
    </div>

    <a id="button"></a>

     <!--Main-Text-->

     <!--Skils-->
</header>
<body>
    <div class="skills">
        <div class="container fade-in">
            <h1 class="skills__title">WHAT I USE</h1>
            <h4>I have the experience with the following tools:</h4>
            <div class="icons">
                <a>
                <img src="{{ url_for('static', filename='images/AWS-Dark.svg') }}" width="64px" height="64px" class="tool-image">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
                </a>

                <a>
                <img src="{{ url_for('static', filename='images/terraform.svg') }}" width="64px" height="64px" alt="">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
                </a>

                <a>
                <img src="{{ url_for('static', filename='images/kubernetes.svg') }}" width="64px" height="64px" alt="">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
                </a>

                <a>
                <img src="{{ url_for('static', filename='images/python.svg') }}" width="64px" height="64px" alt="">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
                </a>

                <a>
                <img src="{{ url_for('static', filename='images/ansible.svg') }}" width="64px" height="64px" alt="">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
                </a>

                <a>
                <img src="{{ url_for('static', filename='images/githubactions.svg') }}" width="64px" height="64px" alt="">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
                </a>
                
                <a>
                <img src="{{ url_for('static', filename='images/github.svg') }}" width="64px" height="64px" alt="">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
                </a>

                <a>
                <img src="{{ url_for('static', filename='images/linux.svg') }}" width="64px" height="64px" alt="">
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
                </a>

            </div>
            <div  id="projects"class="projects fade-in">
            
            <h1 class="project__title">HERE ARE MY PROJECTS</h1>
            <h4>Here are the projects that I have created so far:</h4>
    </div>
    
    
 <!--Projects-->
<div class="cards fade-in">
    <div class="card bg-2">
        <div class="card__info">
            <h3>Pico-8 Binary Updater</h3>
        <a href="https://github.com/Y-Ibrahim/E-commerce-shopping-cart" target="blank">Code</a>
        <div class="color__overlay"></div>
        </div>
    </div>
</div>

<div class="contact__title">
    <h1>Contact</h1>
    <h2>If you liked some of my projects so far, feel free to contact me.</h2>
</div>

<div class="contact fade-in">
    
 <div class="contact__form" id="contact">
    <form id="contact-form" method="POST" action="{{ url_for('views.send_email') }}">
        <input type="text" name="name" class="form__control name" placeholder="Name" required><br>

        <div class="status">

        </div>

        <input type="email"  name="email" class="form__control email" placeholder="Your Email" required><br>


        <input type="text" name="subject" class="form__control subject" name="subject" placeholder="Subject">

        <div class="msg">
            
        </div>
        <textarea name="message" class="form__control message" placeholder="Message" cols="30" rows="10" required></textarea><br>

        <button type="submit" class="form__control">Send Message</button>
    </form>

    
   
</div>
</div> 






<footer>
    @Yousuf Ibrahim
</footer>



  
    <script src="{{url_for('static',filename='index.js')}}"></script>
</body>
</html>
