*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #202226;
}

:root{
    --prim-col:#fc6d6d;
    --sec-col: #f0f0f0;
    --tert-col:#813838;
}

/* html {
    scroll-behavior: smooth;
} */

a{
  background: transparent;
  text-decoration: none;
  color:var(--prim-col);
}
/* NAV */
.navbar{
    /* margin: 0 auto; */
}

header {
   min-height: 100vh;
  
}
 
nav{
    display: flex;
    justify-content: space-around;
   
}

.nav__text:hover{
   color: aliceblue;
}
.nav__links {
 list-style: none;
 
}

.nav__links li{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
   

}

.nav__links{
    outline: none;
}
/* NAV */

/*-- Main text --*/

.main{
    transition: opacity 2s ease-in;
}

.logo{
  padding-top: 50px;
}

.laptop {
    background: transparent;
    margin-top: 30px;
}
.main__text{
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 3px solid black; */
    position: relative;
    
}

.fade-in{
    opacity: 0;
    transition: opacity 900ms ease-in;
   
}

.fade-in.appear{
    opacity: 1;
}

.title{
    font-size: 5em;
    font-weight: bold 700;
    color: var(--prim-col);
   
    text-transform: uppercase;
}

.main__text p{
    color: var(--sec-col);
    text-align: center;
    
    max-width: 800px;
    
    
}

.btn{
    margin-top: 30px;
    color: var(--prim-col);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bolder;
    border: 3px solid var(--tert-col);
    padding: 5px 15px;
    border-radius: 40px;
    transition: ease-in-out .2s;
    
}


.btn:hover{
   color: black;
   font-weight: bolder;
    border: 2px solid var(--prim-col);
    background: var(--prim-col);
    box-shadow: 4px 4px rgb(95, 24, 8);
   
    
}


/*-- Main text --*/


/*-- Main skills --*/
.skills{
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
}


.skills__title{
    font-size: 3em;
    font-weight: bold 700;
    color: var(--sec-col);
    text-align: center;
    
    
}

.icons{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   gap: 3rem;
   margin-top: 3rem;
}

.icons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.6rem;

    text-decoration: none;
    cursor: default;
}

.icons img{
    padding: 5px;
    margin: 10px;
    color: var(--prim-col);
}

.icons h6{
    text-align: center;
    color: var(--sec-col);
    font-size: 1em;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

.container h2, h4{
    text-align: center;
    color: var(--prim-col);
    font-weight: normal;
}
 

/*-- Main skills --*/


/*-- Projects --*/
.projects {
    color: var(--sec-col);
    margin-top: 400px;
}

  

/*-- Projects --*/
.project__title{
    text-align: center;
}


.cards{
   
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(500px, auto);
    grid-gap: 20px;
}

.card{
    border: 4px solid rgb(207, 205, 205);
    width: 270px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
    margin: 25px auto;
    background: var(--sec-col);
   position: relative;
   transition: ease-in ;

}

.card a{
    padding-top: 50px;
    margin: 200px 20px;
    color:#000026;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold 700;
    border: 1px solid --p;
    padding: 5px 15px;
    border-radius: 40px;
    z-index: 1;
    background-color: var(--prim-col);
    transition: ease-in-out .2s;

}

.card a:hover{
    background-color: rgb(248, 64, 23);
   color: var(--sec-col);
    box-shadow: 4px 4px rgb(65, 16, 5);
}
.card h3{
    margin: 15px;
    font-size: 16px;
    background: transparent;
    color: var(--prim-col);
   
    z-index: 1;
}

.card__info{
   
    margin-top: 410px;
    background: transparent;
}

.card:hover{
    transform: scale(1.1);
    transition: all .5s;
    border: 4px solid var(--prim-col);

}


.bg-1{
   background-image: url(./images/portfolio.png);
   background-position: -100px 0px;
   background-size: 500px;
   background-color: #202226;
   background-repeat: no-repeat;
   opacity: 0.8;
}

.bg-2{
    background-image: url("https://www.lexaloffle.com/gfx/pico8_postcard.png");
    background-position: -10px 0px;
    background-repeat: no-repeat;
    opacity: 0.8;
    /* padding: 2px;    */
}

.bg-3{
    background-image: url(../login.PNG);
    background-position: -50px -80px;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.bg-4{
 background-image: url(./tft.PNG);
 background-repeat: no-repeat;
 background-position: -30px;
 opacity: 0.8;
}

.bg-5{
background-image: url(./quiz.PNG);
background-repeat: no-repeat;
background-position: -25px;
opacity: 0.8;
}

.bg-6{
background-image: url(./book-finder.PNG);
background-repeat: no-repeat;
background-position: -20px;
opacity: 0.8;


}

/*-- Projects --*/


/*-- Contact --*/


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__title{
    margin-top: 100px;
    color: var(--sec-col);
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    transition: 0.4s ease;
}

.contact__title h1{
    font-size: 3em;
    margin-bottom: 10px;
}

.contact__title h2{
    font-size: 1em;
}

form{
    margin-top: 50px;
    align-items: center;

}

.form__control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--prim-col);
    color: var(--sec-col);
    font-size: 1em;
    margin-bottom: 50px;


}
input{
    height: 45px;
}

button.form__control{
    background-color: var(--prim-col);
    border-color: transparent;
    color: black;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    transition: .2s ease-in-out;
    border-radius: 4px;
}

button.form__control:hover{
  color: var(--sec-col);
    cursor: pointer;
    box-shadow: 3px 3px  rgb(109, 28, 10);
}


.status__valid{
    margin-bottom: 5px;
    font-size: 1em;
    color:greenyellow;
    text-align: center;
}

.status__invalid{
    margin-bottom: 5px;
    font-size: 1em;
    color:red;
    text-align: center;
}


/*-- Contact --*/







footer{
       
       
        color: var(--sec-col);
        text-align: center;
     
}



@media only screen and (max-width: 600px) {
    

    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(500px, auto);
        grid-gap: 20px;
    
    }

    .title{
        font-size: 3em;
      text-align: center;
        font-weight: bold 700;
        color: var(--prim-col);
       
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .form__control{
        width: 300px;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--prim-col);
        color: var(--sec-col);
        font-size: 1em;
        margin-bottom: 50px;
    
    
    }
    .skills{
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    }
  }
  

  /*-- Scroll Animation --*/

  

  
  /*-- Scroll Animation --*/


  #button {
    display: inline-block;
    background-color: var(--tert-col);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
