name: flask-ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build-test-run:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics   

      - name: Build Docker image
        run: docker build -t devops-portfolio:${{ github.sha }} .

      - name: Test inside Docker
        run: |
          docker run --rm devops-portfolio:${{ github.sha }} pytest --maxfail=1 --disable-warnings -v

      - name: Run container
        run: |
          docker stop portfolio || true
          docker rm portfolio || true
          docker run -d \
            --name portfolio \
            -p 5000:5000 \
            devops-portfolio:${{ github.sha }}
